{% extends 'base.html.twig' %}

{% block title %}PTT{% endblock %}

{% block body %}
    <section class="accueil">
        <a>
            <h1>Partage ta Thune !</h1>

            <div class="metadata">

            </div>

            <br/>

            <a  class="btn btn-success" href="{{ path("potAjouter") }}">ajouter un pot</a>
        </a>
        <br>
        <br>
        <br>
        <h1> Vos pots déjà créés : </h1>

        {% for P in pot %}
        <p class="card">
            <a type="button" class="btn btn-primary">
                Nom : <span class="badge badge-light">{{ P.name }}</span>
        </a>
            <a type="button" class="card-body">
                Montant total : <span class="badge badge-light">{{ P.montanttot }} €</span>
            </a>
            <a type="text" class="card-body">
                Personne : <span class="card-body">{% for m in personne %} {% if P.id == m.idPot.id %}  {{ m.name }} , {% endif%} {% endfor %}</span>
            </a>
        </p>
            <br>
        {% endfor %}

    </section>
{% endblock %}
