{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 style="color:white;">Montant total : {{ total }}</h1>
<p>
    <table  class="table">
        <thead class="thead-dark">
            <tr class="card-header">
                <th scope="col">Nom</th>
                <th scope="col"> Montant payé </th>
                <th scope="col"> Doit recevoir </th>
                <th scope="col"> Doit donner </th>
            </tr>
        </thead>

        {% for p in persons %}
            <tr>
                <td >{{ p.name }}</td>
                <td >{{ p.montant_paye }}</td>
                <td >{% if p.montant_paye > moy %}
                        <span style="color:green"> + {{ p.montant_paye - moy }} €</span>
                    {% else %}
                        X
                    {% endif %}</td>
                <td >{% if p.montant_paye < moy %}
                        <span style="color:red"> - {{ moy - p.montant_paye  }} €</span>
                    {% else %}
                        X
                    {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</p>
    <div><span style="color:yellowgreen; font-size: 30px; ">Montant moyen : {{ moy }}</span></div>

    <p style="color:white;">On arrondi les résultats donc si vous avez une différence de 1 ou 2 centimes faites pas les radins ;)</p>

{% endblock %}