{% extends 'base.html.twig' %}

{% block title %}Hello PotController!{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block headerjs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <h1>{{ lastPot[0]['name'] }}</h1>
    <a class="btn btn-success" href="{{ path("person", {"id":lastPot[0]['id']}) }}" style="color:black">Ajouter une personne</a>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr class="card-header">
                <th scope="col"> Nom </th>
                <th scope="col">Montant payé</th>
            </tr>
        </thead>

        {% for p in persons %}
            <tr>
                <td> {{ p.name }}  </td>
                <td>  {{ p.montant_paye }} €</td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <button type="button" class="btn btn-light"><a href="{{ path("final") }}" style="color:black">Faire le calcul</a></button>
{% endblock %}

