<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PTT</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://image.flaticon.com/icons/png/512/50/50268.png">
    <script src="https://kit.fontawesome.com/6103caa605.js" crossorigin="anonymous"></script>


    {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('/templates/style.css') }}">
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"
    {% endblock %}
</head>
<div id="main">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("presentation") }}"><i class="far fa-money-bill-alt"></i> PTT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("pot") }}">Pot<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("potAjouter") }}">Créer un pot commun</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
<footer class="page-footer font-small mdb-color pt-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Le Pot des copains</h6>
                <p>Bientôt on fera parti des GAFAM</p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a href="#!">Je déteste Wejdene.</a>
                </p>
                <p>
                    <a href="#!">Ah bas les Vendéens !</a>
                </p>
                <p>
                    <a href="#!">Connaissez vous Raid ShadowLegend ?</a>
                </p>
                <p>
                    <a href="#!"></a>
                </p>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Confinement City Gang</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>OnEstDeprimé</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +8.8.8.8</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + chmod777</p>
            </div>
        </div>
        <hr>

        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2020 Arthur,Renaud,Clément Copyright
                    <a href="https://mdbootstrap.com/">
                        <strong> Désolé on a plein de projets en ce moment </strong>
                    </a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
</div>
</html>
